 
body 
{
    font-family: "Poppins", sans-serif;
    margin: 20px;
	background-image: url(../html/myProfileBackground.jpg);
	background-repeat: no-repeat;
}
/*form 
{
    max-width: 400px;
    margin: auto;
}*/

label 
{
    width: 360px;
    display: block;
    margin-top: 10px;
	text-align: left;
	justify-content: left;
	padding-left: 15%;
}
input 
{
    width: 70%;   
	padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
button 
{
    background-color: #4CAF50;
    color: white;
    cursor:pointer;
	padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

#myProfilePhoto
{
	float: left;
	margin-left: 15%;
	margin-top: 20%;	
}
#myProfileInfo
{
	display: block;
    background: #0b200c83;
    border: 1px solid #00000071;
    border-radius:12px;
    padding: 12px;
    text-align: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
    color:#fff;
    font-size: 24px;
    margin-top:5%;
    max-width: 360px;
}
#saveButton
{
	clear: both;
	align-items: center;
	padding-top: 50px;

}
h1
{
	text-align: center;	
	font-size: 40px;
	color: white;
}
#preview {
      max-width: 100%;
      height: auto;
      margin-top: 10px;
    }
select{
	width: 70%;
	padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#myProfileInfo{
	justify-content: center;
	text-align: center;
	
}
