.wrapper
{
	position: relative;
	width: 500px;
	height: 80%;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 3-px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: transform .5s ease, height .2s ease;
	margin-right:50%;

}
.wrapper.active
{
	height: 80%;
}
.wrapper .form-box
{
	width: 300px;
	padding: 40px;
}
.wrapper .form-box.login
{
	transition: transform .18s ease;
	transform: translateX(0);
}
.wrapper.active .form-box.login
{
	transition: none;
	transform: translateX(-400px);
}
.wrapper .form-box.register
{
	position: absolute;
	transition: none;
	transform: translateX(400px);
	top:20%;
}
.wrapper.active .form-box.register
{
	transition: transform .18s ease;
	transform: translateX(0);
}
.wrapper .icon-close
{
	position: absolute;
	top: 0;
	right: 0;
	width: 45px;
	height: 45px;
	background: #000c01;
	font-size: 2em;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	z-index: 1;
	visibility:hidden;
}
.form-box h2
{
	font-size: 1.8em;
	color: #ffffff;
	text-align: center;
}
.input-box
{
	position: relative;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #000a03;
	margin: 30px 0;
}
.input-box label
{
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	font-size: 1em;
	color: #ffffff;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
	/*display: inline-block;*/
}
.input-box input:focus~label, 
.input-box input:valid~label
{
	top: -5px;
}
.input-box input
{
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	color: #ffffff;
	font-weight: 500;
	padding: 0 35px 0 5px;
}
.input-box .icon
{
	position: absolute;
	right: 8px;
	font-size: 1.2em;
	color: #00140d;
	line-height: 57px;
}
.remember-forgot
{
	font-size: .9em;
	color: #ffffff;
	font-weight: 500;
	margin: -15px 0 15px 20px;
	display: flex;
	justify-content: space-between;
}
.remember-forgot label input
{
	accent-color: #00ff00;
	margin-right: 3px;
}
.remember-forgot a
{
	color: #ffffff;
	text-decoration: none;
}
.remember-forgot a:hover
{
	text-decoration: underline;
}
.btn
{
	width: 100%;
	height: 45px;
	background: #00180f;
	border: none;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size:  1em;
	color: #fff;
	font-weight: 500;
}
.login-register
{
	font-size: .75em;
	color: #d9d9d9;
	text-align: center;
	font-weight: 500;
	margin: 25px 0 10px;
}
.login-register p a
{
	color:#fff;
	font-size: 22px;
	text-decoration: none;
	font-weight: 600;
}
.login-register p a:hover
{
	text-decoration: underline;

}
.login-status {
	position: absolute;
	text-align: center;
	justify-content: center;
	color: #fff;
	visibility: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 460px;
	width: 230px;
	background: rgba(58, 58, 58, 0.44);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.9px);
	-webkit-backdrop-filter: blur(10.9px);
}
#logoutLink {
	color: #fff;
	text-decoration: underline;
	cursor: pointer;
	margin-top: 10px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
}
  
  #userEmail {
	font-weight: bold;
  }
body  .wrapper
{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 85vh;
	background: #002e1cb1;
	background-position: center;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);

}
body
{
	background-color: #2d433ba8;
}
.error-message {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: #1fa14e;
	color: #ffffff;
	padding: 10px;
	margin: 10px;
	border: 1px solid;
	border-radius: 15px;
	width: auto;
	opacity: 0; 
	transform: translateY(20px); 
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.error-message.show {
	opacity: 1;  /* Widoczność po dodaniu klasy show */
	transform: translateY(0);  /* Powrót na miejsce */
}