body {
    margin: 0;
    padding: 0;
}

.svgbg{
    background-image: url('constellationBG.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c7c7c7;
}

.nav-item {
    float: left;
}

.nav-item a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    transition: all 1s ease-in-out;
}

.nav-item a i {
    display: inline-block;
}

.nav-item a:hover i {
    color: #ff00d4b8;
    transition: all 0.5s ease-in-out;
}

.nav-item a:hover span {
    display: inline;
}

.nav-item a.active {
    font-size: 22px;
}

.nav-item a.active i {
    font-size: 16px;
}

.nav-item a.active span {
    display: inline;
}

.nav-item a span {
    display: none;
}

.nav-login {
    float: right;
}

.nav-login a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
    transition: font-size 1s ease-in-out;
}

.nav-login a i {
    display: inline-block;
}

.nav-login a:hover i {
    color: #ff00d4b8;
    transition: all 0.5s ease-in-out;
}

.nav-login a:hover span {
    display: inline;

}

.nav-login a span {
    display: none;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .nav-item {
        float: none;
        display: block;
        text-align: center;
    }
    .nav-login {
        float: none;
        display: block;
        text-align: center;
    }

}